{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Mice{% endblock %}</h1>
{% endblock %}


{% block content %}

  <div>
    
    
  <!--<form method="POST">
    <div>
    <input type="text" name="irats_id" id="autocomplete1" required type="text" value="" placeholder="Search Mouse ID">  
    <input type="submit" id="search_by_mouse_btn" value="Search by Mouse">
    </div>
  </form> -->

  <div>
    <form style="direction: rtl;" action="{{ url_for('experiments.reload_licences_and_projects_from_index') }}" >
      <input type="submit" value="Reload Licences and Projects from Irats (might take a few minutes)">
    </form> 
    <button type="button" id="search-by-mouse-btn">Search by Mouse</button>
  </div>


  <div id="search-by-mouse-window" class="modal">
    <div class="modal-content">
      <form method="POST">

        {% for room_id in unique_room_ids %}
          <div>
            <label for="{{room_id}}"">{{room_id}}</label>
            <input type="checkbox" class="room-id-checkbox" name="{{room_id}}" checked value="123">
          </div>
        {% endfor %}

        <label for="irats_id">Mouse Id</label>
        <input type="text" name="irats_id" id="autocomplete1" required placeholder="Mouse ID">
        
        <input type="submit" value="Search">
      </form>

      <button type="button" id="search-by-mouse-window-close-btn">Close</button>
    </div>
  </div>

  <script>
    // hide the search by mouse window at astart
    var search_by_mouse_window = document.getElementById("search-by-mouse-window");
    search_by_mouse_window.style.display = 'none';

    // show the search by mouse window on click
    var search_by_mouse_btn = document.getElementById("search-by-mouse-btn");
    search_by_mouse_btn.onclick = function() 
    {
      search_by_mouse_window.style.display = 'block';
    }

    // hide the search by mouse window on close btn
    var close_search_by_mouse_window = document.getElementById("search-by-mouse-window-close-btn");
    close_search_by_mouse_window.onclick = function() 
    {
      search_by_mouse_window.style.display = 'none';
    }
  </script>


  <form method="POST">
    <div>
    <input type="text" name="cage" id="autocomplete2" required type="text" value="" placeholder="Search Cage Number">
    <input type="submit" value="Search by Cage">
  </div>
  </form>  
 
  <div>
    <form action="{{ url_for('mouse.reload') }}" >
      <input type="submit" value="Reload Mice from Irats (might take a few minutes)">
    </form> 
  </div>
  
    <script>
      function get_room_filter() {
        var checkboxes = document.getElementsByClassName('room-id-checkbox')

        var result = "";

        for (let i = 0; i < checkboxes.length; ++i) {
          if (checkboxes[i].checked) {
            result += checkboxes[i].name + '|';
          } 
        }

        if (result.length > 0) {
          result = result.substring(0, result.length - 1);
        }

        console.log("rooms filter!" + result);

        return result;
      }

      function rebuild_autocomplete() {
          $('#autocomplete1').autocomplete({
        serviceUrl: '/search/id',
        dataType: 'json',
        onSearchStart: function(params) {
          console.log("Search start");
          console.log(params);
        },
        params: {
          'rooms_filter' : get_room_filter(),
        },
        onSearchComplete: function (query, suggestions) {
         // console.log(query);
         // console.log(suggestions);
        }
        });
      }
    setTimeout(function() {
        rebuild_autocomplete();

        var checkboxes = document.getElementsByClassName('room-id-checkbox')

        var result = "";

        for (let i = 0; i < checkboxes.length; ++i) {
          checkboxes[i].onchange = function(value) {
            rebuild_autocomplete();
          }
        }
    }, 5000);
    </script>

    <script>
      $('#autocomplete2').autocomplete({
       serviceUrl: '/search/cage',
       dataType: 'json',
       onSearchComplete: function (query, suggestions) {
         console.log(query);
       }
       });
    </script>
  
  </div>

  {% for mouse in todo_mice %}
  <article class="mouse">
    <header>
      <div>
        <h1>Mouse {{ mouse['irats_id'] }} in cage {{ mouse['cage']}} needs <span style="color: black">{{ mouse['next_step']}}</span> <span id="{{ mouse['irats_id'] }}" style="{{mouse['color']}}">{{mouse['next_operation']}}</span>
          <p style="float: right; color: rgb(4, 133, 126)" type="time">{{mouse['action']}}</p>
        </h1>

        <script>
          console.log("WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW")
          var next_operation = document.getElementById("BI1113 R")
          if (next_operation != null) {
            console.log(next_operation.innerHTML)
          }
        </script>
        
        <br>
        <div>
          <a style="float: right;" class="action" href="{{ url_for('experiments.start_experiment', id=mouse['mouse_id']) }}">Continue Experiment</a> 
          <a style="float: right;" class="action" href="{{ url_for('experiments.select_next_procedure', id=mouse['mouse_id'], procedure_name='Scoring') }}">Score</a>
          <a style="float: right;" class="action" href="{{ url_for('experiments.select_next_procedure', id=mouse['mouse_id'], procedure_name='Scoring') }}">Handle</a>
          <a style="float: right;" class="action" href="{{ url_for('mouse.mouse_summary', id=mouse['mouse_id']) }}">Summary</a>
        </div>
        </div>
    </header> 
    <div>
    <p class="licence">Licence {{mouse['licence']}}</br> Investigator {{mouse['investigator']}}</p>
  </div>
  </article>
  <hr>
  {% endfor %}

  {% for mouse in licenced_mice %}
  <article class="mouse">
    <header>
      <div>
        <h1>Mouse {{ mouse['irats_id'] }} in cage {{ mouse['cage']}}</span>
          <p style="float: right; color: rgb(5, 36, 34)">Got attributed a project</p>
        </h1>
        <br>
        <div>
          <a style="float: right;" class="action" href="{{ url_for('experiments.start_experiment', id=mouse.id) }}">Start Experiment</a> 
        </div>
        </div>
    </header> 
    <div>
    <p class="licence">Licence {{mouse['licence']}}</br> Investigator {{mouse['investigator']}}</p>
  </div>
  </article>
  <hr>
  {% endfor %}

  {% for mouse in euthanized_mice %}
  <article class="mouse">
    <header>
      <div>
        <h1>Mouse {{ mouse['irats_id'] }} in cage {{ mouse['cage']}}</span>
          <p style="float: right; color: rgb(5, 36, 34)" type="time">Has been euthanized</p>
        </h1>
        <br>
        <div>
          <a style="float: right;" class="action" href="{{ url_for('mouse.mouse_summary', id=mouse.id) }}">Summary</a>
        </div>
        </div>
    </header> 
    <div>
    <p class="licence">Licence {{mouse['licence']}}</br> Investigator {{mouse['investigator']}}</p>
  </div>
  </article>
  <hr>
  {% endfor %}

  {% for mouse in all_mice %}
    <article class="mouse">
      <header>
        <div>
          <h1>Mouse {{ mouse.irats_id }} in cage {{ mouse.cage }}</div>
        </div>
        <!-- <a style="float: right;" class="action" href="{{ url_for('experiments.start_experiment', id=mouse.id) }}">Start Experiment</a>  -->
        <a style="float: right;" class="action" href="{{ url_for('experiments.choose_experiment', id=mouse.id) }}">Choose Experiment</a> 
      </header>
      <p class="licence">Licence {{mouse.licence}} </br> Investigator {{mouse['investigator']}}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
