{% extends 'base.html' %}




{% block header %}
<h1>{% block title %}Procedures summary for Mouse {{ mouse['irats_id'] }}{% endblock %}</h1>
<input id="hidden_mouse_id" type="text" value="{{ mouse['irats_id'] }}" hidden>
{% endblock %}

{% block content %}
    <!-- Print button for saving the summary in pdf -->
    <div>
        <br>
        <button id="save_summary_button" style="background-color: #008CBA; color: rgb(255, 255, 255); border-radius: 12px;" onClick="window.print()">Print experiment summary</button>
    </div>

    <!-- script for setting current date when saving summary -->
    <script>
        date = new Date();
        year = date.getFullYear();
        month = date.getMonth() + 1;
        day = date.getDate();
        today = day.toString() + "-" + month.toString() + "-" + year.toString();
        mouse_id = document.getElementById("hidden_mouse_id").value
        name_by_save = "document.title=" + "'Summary_" + mouse_id + "_" + today + "'; window.print();"
        document.getElementById("save_summary_button").setAttribute('onclick', name_by_save);    
    </script>
    
    <div class="plot">
        <canvas id="line-chart"></canvas>
    </div>
    
    
    

    <!-- modal for the button -->
    <div id="change-summary-entry-window" class="modal">

        <div class="modal-content">
          <form id="form_id_in_modal" method="POST" action="">

            <div id="common_block_id">
                <label id="label_for_input" for="modal_input_id"></label>
                <input type="text" min="" max="" step="" name="modal_input_id" id="modal_input_id" value="something went wrong, the value hasn't been read out" size=40px>
            </div>

            <!-- <a id="a_tag_modal" style="float: left; color: rgb(240, 14, 14);" class="action" href="">Edit</a> -->

            <input type="submit" value="Save">
          </form>

          <button type="button" id="search-by-mouse-window-close-btn-TOCHANGE">Close</button>
        </div>
    </div>



    {% for procedure in procedures %}
        <b>{{procedure['name']}}</b>
        <span><i>({{procedure['procedure_date']}})</i></span>
        <!-- save summary data to div and hide it, this data is used for script that plots the score-weight diagram -->
        <div id="summary-data" style="display: none;"> {{procedures}} </div>

        <input id="mouse_id_data" value="{{procedure['mouse_id']}}" hidden>
        <input id="mouse_id_data_1" value="{{procedure}}" hidden>
        

        {% for step in procedure['steps'] %}
            <ul>
            <li><u>{{step['name']}}</u>, by {{step['user']}}
            <ul> 
            {% if step['comment'] %}
                <br>
                <li>Comment: {{step['comment']}}
            {% endif %}
            {% for entry in step['entries'] %}
                {% if entry['name'] == "Score" %}

                    <input id="entry_format" type="{{entry['entry_format']}}" hidden>
                    <li><label id="label_id_for_summary_entry">Score:</label>
                    <button type="button" class="entry_changeable" value="{{entry['entry_id']}}_{{entry['entry_format']}}_{{entry['name']}}" style="background: none!important; 
                                                                                        border: none; 
                                                                                        padding: 0!important; 
                                                                                        font-family: arial, sans-serif; 
                                                                                        color: #069; 
                                                                                        text-decoration: underline; 
                                                                                        cursor: pointer; 
                                                                                        font-size: 16px;">{{entry['content']}}</button>
                    
                    <!-- tracks entry id, used for debuging -->
                    <!-- <button type="button" class="entry_changeable" style="background: none!important; 
                                                                                        border: none; 
                                                                                        padding: 0!important; 
                                                                                        font-family: arial, sans-serif; 
                                                                                        color: #069; 
                                                                                        text-decoration: underline; 
                                                                                        cursor: pointer; 
                                                                                        font-size: 16px;">{{entry['entry_id']}}</button> -->
                
                {% elif entry['entry_format'] == "range" %}
                    <input id="entry_format" type="{{entry['entry_format']}}" hidden>
                    <li><label>{{entry['name']}}:</label>
                    <button type="button" class="entry_changeable" value="{{entry['entry_id']}}_{{entry['entry_format']}}_{{entry['name']}}" style="background: none!important; 
                                                                                        border: none; 
                                                                                        padding: 0!important; 
                                                                                        font-family: arial, sans-serif; 
                                                                                        color: #069; 
                                                                                        text-decoration: underline; 
                                                                                        cursor: pointer; 
                                                                                        font-size: 16px;">{{entry['content']}}/10</button>
                    
                {% else %}

                    <input id="entry_format" type="{{entry['entry_format']}}" hidden>
                    <li><label>{{entry['name']}}:</label>
                    <button type="button" class="entry_changeable" value="{{entry['entry_id']}}_{{entry['entry_format']}}_{{entry['name']}}" style="background: none!important; 
                                                                                        border: none; 
                                                                                        padding: 0!important; 
                                                                                        font-family: arial, sans-serif; 
                                                                                        color: #069; 
                                                                                        text-decoration: underline; 
                                                                                        cursor: pointer; 
                                                                                        font-size: 16px;">{{entry['content']}}</button>
                {% endif %}
            {% endfor %} 
            <!-- <div>
                <label for="comment">Comment</label>
                <textarea name="comment" id="comment">{{comment_value}}</textarea>
            </div> -->

            </ul>
        </ul>
        {% endfor %} 
        <br>
    {% endfor %} 


    <script>

        var search_by_mouse_window = document.getElementById("change-summary-entry-window");
        search_by_mouse_window.style.display = 'none';

        var close_search_by_mouse_window = document.getElementById("search-by-mouse-window-close-btn-TOCHANGE");
        close_search_by_mouse_window.onclick = function() 
        {
            search_by_mouse_window.style.display = 'none';
            location.reload();
        }

        var changeable_entries = document.getElementsByClassName("entry_changeable");
        
        Array.from(changeable_entries).forEach((changeable_entry) => {
            changeable_entry.onclick = function() {
                search_by_mouse_window.style.display = 'block';
                var textInInputField = changeable_entry.innerHTML;
       
                
                var mouse_id_element = document.getElementById("mouse_id_data")
                
                var entry_format = document.getElementById("entry_format") 

                //in "value" we pass entry_id
                var database_entry_id = changeable_entry.value 
                var meta_data = database_entry_id.split("_")
                var entry_id = meta_data[0]
                var input_type = meta_data[1]
                var entry_name = meta_data[2]
                console.log("PPPPP")
                console.log("PPPPP")
                console.log("PPPPP")
                console.log(input_type)
                console.log(entry_name)



                function getMonthFromString(mon){
                   return new Date(Date.parse(mon +" 1, 2012")).getMonth()+1
                }
                function getTimeNumber(time_row){
                   let am_pm = time_row.substr(2)
                   let time_number = time_row.substr(0, 2)
                   if(am_pm == "pm" || am_pm == "PM") {
                     if (parseInt(time_number) != 12) {
                        time_number = parseInt(time_number) + 12
                     }
                   }
                   return time_number
                }


                

                // if the type is datahour we transform the input text (data-time) to be appropriate for the parting in the input
                if ( (input_type == "datehour") || (input_type == "datetime-local") ) {

                    // input_type = "datetime-local"
                    // "Wednesday, 05. October 2022 12PM" 
                    // "2022-10-13T15:35"
                    let data_time_entry_parsed = ""
                    let data_time_values_row = textInInputField.split(" ")
                    console.log(data_time_values_row)
                    //year
                    let year = data_time_values_row[3]
                    data_time_entry_parsed = data_time_entry_parsed.concat("", year);
                    //month
                    let month = data_time_values_row[2]
                    data_time_entry_parsed = data_time_entry_parsed.concat("-", getMonthFromString(month));
                    //day
                    let day = data_time_values_row[1].substr(0, data_time_values_row[1].length-1)
                    data_time_entry_parsed = data_time_entry_parsed.concat("-", day);
                    //time
                    let time = getTimeNumber(data_time_values_row[4])
                    
                    
                    if (input_type == "datetime-local") {
                        data_time_entry_parsed = data_time_entry_parsed.concat("T", time + ":00");
                    } else {
                        data_time_entry_parsed = data_time_entry_parsed.concat("T", time);
                    }
                    textInInputField = data_time_entry_parsed
                } else if (input_type == "bool") {

                    // // document.getElementById("common_block_id").style.visibility = "hidden";
                    // document.getElementById("common_block_id").style.display = 'none';
                    input_type = "radio"


                } else if (entry_name == "Bodyweight (grams)") {   //float type is used only for Bodyweight entry
                    input_type = 'number'
                    document.getElementById("modal_input_id").setAttribute('step', "0.1");
                } else if (input_type == "range") {
                    document.getElementById("modal_input_id").setAttribute('min', 0);
                    document.getElementById("modal_input_id").setAttribute('max', 10);
                }
                document.getElementById("label_for_input").innerHTML = entry_name;
                document.getElementById("modal_input_id").setAttribute('value', textInInputField);
                


                var parameter_for_href = "{{ url_for('mouse.summary_edit_entry', entry_id=88888, mouse_id=99999) }}"
                parameter_for_href = parameter_for_href.replace("88888", entry_id);
                parameter_for_href = parameter_for_href.replace("99999", mouse_id_element.value);
                document.getElementById("form_id_in_modal").setAttribute('action', parameter_for_href);
                document.getElementById("modal_input_id").setAttribute('type', input_type);
                
            }
        });



        // return;
        // // hide the search by mouse window at astart
        // var search_by_mouse_window = document.getElementById("change-summary-entry-window-id7");
        // search_by_mouse_window.style.display = 'none';
        
        // // show the search by mouse window on click
        // var search_by_mouse_btn = document.getElementById("change-summary-entry-btn_id7");
        // search_by_mouse_btn.onclick = function() 
        // {
        //   search_by_mouse_window.style.display = 'block';
        // }
        
        // // hide the search by mouse window on close btn
        // var close_search_by_mouse_window = document.getElementById("search-by-mouse-window-close-btn-TOCHANGE");
        // close_search_by_mouse_window.onclick = function() 
        // {
        //   search_by_mouse_window.style.display = 'none';
        // }
    </script>

    <script>
        // take string data and parse as json
        var data_raw = document.getElementById("summary-data").textContent;        
        data_raw = data_raw.replaceAll("'", '"')
        data_raw = data_raw.replaceAll("True", 'true')
        data_raw = data_raw.replaceAll("False", 'false')
        data_raw = data_raw.replaceAll("None", 'null')
        var json_data = JSON.parse(data_raw)


        // PREPARE DATA FOR PLOT: start //
        var num_procedures = json_data.length
        let step_names = []
        let step_scores = []
        let step_weights = []
        let procedure_names = []
        // iterate over procedures
        for (let p = 0; p < num_procedures; ++p) {
            var current_procedure = json_data[p]
            procedure_names.push(current_procedure.name)
            steps = current_procedure['steps']
            let num_steps = steps.length
            for (let i = 0; i < num_steps; ++i) {
                var current_step = steps[i];
                if (i == 0) {
                    step_names.push(current_step['name'] + " (procedure_" + (p+1).toString() + ")");
                } else {
                    step_names.push(current_step['name']);
                }
                var current_step_entries = steps[i]['entries'];
                var num_entries = current_step_entries.length;
                var body_weight_true = false;
                var score_true = false;
                for (let j = 0; j < num_entries; ++j) {
                    if (current_step_entries[j]['name'] == 'Bodyweight (grams)') {
                        step_weights.push(current_step_entries[j]['content']);
                        body_weight_true = true;
                    }
                    else if (current_step_entries[j]['name'] == 'Score') {
                        step_scores.push(current_step_entries[j]['content'])
                        score_true = true;
                    } 
                }
                // if no bodyweight in current step, take from previous one
                if (body_weight_true == false) {
                    step_weights.push(step_weights[step_weights.length - 1])
                }
                // if no weight in current step, take from previous one
                if (score_true == false) {
                    step_scores.push(step_scores[step_scores.length - 1])
                }
            }
        }


        // PREPARE DATA FOR PLOT: end //
        var procedure_first_steps = []
        for (let p = 0; p < num_procedures; ++p) {
            var current_procedure = json_data[p]
            steps = current_procedure['steps']
            let num_steps = steps.length
            var current_step = steps[0];

            // console.log(current_step['name'] + " (procedure_" + (p+1).toString() + ")")

            procedure_first_steps.push(current_step['name'] + " (procedure_" + (p+1).toString() + ")");
            // procedure_first_steps.push(current_step['name']);
        }

        // chose options are filled with lines (below)
        const options = {
                          plugins: {
                            autocolors: false,
                            annotation: {
                              annotations: {
                              }
                            }
                          },
                          scales: {
                            x: {
                                title: {
                                    display: true,
                                    text: "Procedures steps"
                                }
                            },
                            y: {
                                beginAtZero: true,
                                title: {
                                    display: true,
                                    text: "Bodyweight (grams)"
                                }
                            },
                            xAxisScore: {
                                suggestedMax: 10,
                                beginAtZero: true,
                                position: 'right',
                                title: {
                                    display: true,
                                    text: "Score"
                                }
                            }
                          }
                        };
       
        

        // prepare line for notating new procedure start
        for (let p = 0; p < num_procedures; ++p) {
            let new_line = {
                            type: 'line',
                            xMin: procedure_first_steps[p],
                            xMax: procedure_first_steps[p],
                            borderColor: 'rgb(255, 99, 132)',
                            borderWidth: 2,
                        }
            let line_name = 'line' + p.toString();
            options.plugins.annotation.annotations[line_name] = new_line;
        }


        var data =  {
                    labels: step_names,
                    datasets: [{    
                        data: step_weights,
                        label: "Bodyweight (grams)",
                        borderColor: "#8e5ea2",
                        fill: true
                    },
                    { 
                        data: step_scores,
                        label: "Score",
                        borderColor: "#3e95cd",
                        fill: true,
                        yAxisID: "xAxisScore"
                    }
                    ]
                }

        // var data =  {
        //             labels: step_names,
        //             datasets: [{ 
        //                 data: step_scores,
        //                 label: "Score",
        //                 borderColor: "#3e95cd",
        //                 fill: true,
        //                 yAxisID: "score_line_id"
        //             }, {    
        //                 data: step_weights,
        //                 label: "Bodyweight (grams)",
        //                 borderColor: "#8e5ea2",
        //                 fill: true
        //             }
        //             ]
        //         }


        new Chart(document.getElementById("line-chart"), {
            type: 'line',
            data: data,
            options
        });
    </script>
    
{% endblock %}
<!-- 
options: {

    plugins: {
      autocolors: false,
      annotation: {
        annotations: {
          line1: {
            type: 'line',
            yMin: 11,
            yMax: 12,
            borderColor: 'rgb(255, 99, 132)',
            borderWidth: 3,
          }
        }
      }
    },
    

    // title: {
    //     display: true,
    //     text: 'Score vs. Weight'
    // },

    // scales: {
    //     y: {
    //         title: "SOME_TITLE",
    //         type: 'linear',
    //         display: true,
    //         position: 'left',
    //         },
    //     y1: {
    //         type: 'linear',
    //         display: true,
    //         position: 'right',
        
    //         // grid line settings
    //         grid: {
    //             drawOnChartArea: false, // only want the grid lines for one axis to show up
    //         },
    //     },
    // },
    
} -->
