{% extends 'base.html' %}




{% block header %}
<h1>{% block title %}Procedures summary for Mouse {{ mouse['irats_id'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <!-- Print button for saving the summary in pdf -->
    <div>
        <br>
        <button style="background-color: #008CBA; color: rgb(255, 255, 255); border-radius: 12px;" onClick="window.print()">Print experiment summary</button>
    </div>
    
    <div class="plot">
        <canvas id="line-chart"></canvas>
    </div>
    
    
    

    <!-- modal for the button -->
    <div id="change-summary-entry-window" class="modal">

        <div class="modal-content">
          <form id="form_id_in_modal" method="POST" action="">

            <div>
                <input type="text" name="modal_input_id" id="modal_input_id" value="something went wrong, the value hasn't been read out" size=40px>
            </div>

            <!-- <a id="a_tag_modal" style="float: left; color: rgb(240, 14, 14);" class="action" href="">Edit</a> -->

            <input type="submit" value="SaveSave">
          </form>

          <button type="button" id="search-by-mouse-window-close-btn-TOCHANGE">Close</button>
        </div>
    </div>



    {% for procedure in procedures %}
        <b>{{procedure['name']}}</b>
        
        <!-- save summary data to div and hide it, this data is used for script that plots the score-weight diagram -->
        <div id="summary-data" style="display: none;"> {{procedures}} </div>

        <input id="mouse_id_data" value="{{procedure['mouse_id']}}" hidden>
        <input id="mouse_id_data_1" value="{{procedure}}" hidden>
        

        {% for step in procedure['steps'] %}
            <ul>
            <li><u>{{step['name']}}</u>, by {{step['user']}}
            <ul> 
            {% if step['comment'] %}
                <br>
                <li>Comment: {{step['comment']}}
            {% endif %}
            {% for entry in step['entries'] %}
                {% if entry['name'] == "Score" %}

                    <input id="entry_format" type="{{entry['entry_format']}}" hidden>
                    <li><label>Score:</label>
                    <button type="button" class="entry_changeable" value="{{entry['entry_id']}}_{{entry['entry_format']}}" style="background: none!important; 
                                                                                        border: none; 
                                                                                        padding: 0!important; 
                                                                                        font-family: arial, sans-serif; 
                                                                                        color: #069; 
                                                                                        text-decoration: underline; 
                                                                                        cursor: pointer; 
                                                                                        font-size: 16px;">{{entry['content']}}</button>
                    
                    <button type="button" class="entry_changeable" style="background: none!important; 
                                                                                        border: none; 
                                                                                        padding: 0!important; 
                                                                                        font-family: arial, sans-serif; 
                                                                                        color: #069; 
                                                                                        text-decoration: underline; 
                                                                                        cursor: pointer; 
                                                                                        font-size: 16px;">{{entry['entry_id']}}</button>
                {% else %}

                    <input id="entry_format" type="{{entry['entry_format']}}" hidden>
                    <li><label>{{entry['name']}}:</label>
                    <button type="button" class="entry_changeable" value="{{entry['entry_id']}}_{{entry['entry_format']}}" style="background: none!important; 
                                                                                        border: none; 
                                                                                        padding: 0!important; 
                                                                                        font-family: arial, sans-serif; 
                                                                                        color: #069; 
                                                                                        text-decoration: underline; 
                                                                                        cursor: pointer; 
                                                                                        font-size: 16px;">{{entry['content']}}</button>
                {% endif %}
            {% endfor %} 
            </ul>
        </ul>
        {% endfor %} 
        <br>
    {% endfor %} 


    <script>
         

        var search_by_mouse_window = document.getElementById("change-summary-entry-window");
        search_by_mouse_window.style.display = 'none';

        var close_search_by_mouse_window = document.getElementById("search-by-mouse-window-close-btn-TOCHANGE");
        close_search_by_mouse_window.onclick = function() 
        {
          search_by_mouse_window.style.display = 'none';
        }

        var changeable_entries = document.getElementsByClassName("entry_changeable");

        Array.from(changeable_entries).forEach((changeable_entry) => {
            changeable_entry.onclick = function() {
                search_by_mouse_window.style.display = 'block';
                var textInInputField = changeable_entry.innerHTML;
                document.getElementById("modal_input_id").setAttribute('value', textInInputField);
                var mouse_id_element = document.getElementById("mouse_id_data")
                
                var entry_format = document.getElementById("entry_format") 
                

                console.log("TRIPPLE PEACE")
                console.log(entry_format)
                console.log(entry_format.type)
                
                //in "value" we pass entry_id
                var database_entry_id = changeable_entry.value 

                console.log("FOUR TIMES PEACE")
                console.log(database_entry_id)

                var parameter_for_href = "{{ url_for('mouse.summary_edit_entry', entry_id=88888, mouse_id=99999) }}"
                parameter_for_href = parameter_for_href.replace("88888", database_entry_id);
                parameter_for_href = parameter_for_href.replace("99999", mouse_id_element.value);
                document.getElementById("form_id_in_modal").setAttribute('action', parameter_for_href);
            }
        });



        // return;
        // // hide the search by mouse window at astart
        // var search_by_mouse_window = document.getElementById("change-summary-entry-window-id7");
        // search_by_mouse_window.style.display = 'none';
        
        // // show the search by mouse window on click
        // var search_by_mouse_btn = document.getElementById("change-summary-entry-btn_id7");
        // search_by_mouse_btn.onclick = function() 
        // {
        //   search_by_mouse_window.style.display = 'block';
        // }
        
        // // hide the search by mouse window on close btn
        // var close_search_by_mouse_window = document.getElementById("search-by-mouse-window-close-btn-TOCHANGE");
        // close_search_by_mouse_window.onclick = function() 
        // {
        //   search_by_mouse_window.style.display = 'none';
        // }
    </script>

    <script>
        // take string data and parse as json
        var data_raw = document.getElementById("summary-data").textContent;        
        data_raw = data_raw.replaceAll("'", '"')
        data_raw = data_raw.replaceAll("True", 'true')
        data_raw = data_raw.replaceAll("False", 'false')
        data_raw = data_raw.replaceAll("None", 'null')
        var json_data = JSON.parse(data_raw)


        // PREPARE DATA FOR PLOT: start //
        var num_procedures = json_data.length
        let step_names = []
        let step_scores = []
        let step_weights = []
        let procedure_names = []
        // iterate over procedures
        for (let p = 0; p < num_procedures; ++p) {
            var current_procedure = json_data[p]
            procedure_names.push(current_procedure.name)
            steps = current_procedure['steps']
            let num_steps = steps.length
            for (let i = 0; i < num_steps; ++i) {
                var current_step = steps[i];
                if (i == 0) {
                    step_names.push(current_step['name'] + " (procedure_" + (p+1).toString() + ")");
                } else {
                    step_names.push(current_step['name']);
                }
                var current_step_entries = steps[i]['entries'];
                var num_entries = current_step_entries.length;
                var body_weight_true = false;
                var score_true = false;
                for (let j = 0; j < num_entries; ++j) {
                    if (current_step_entries[j]['name'] == 'Bodyweight (grams)') {
                        step_weights.push(current_step_entries[j]['content']);
                        body_weight_true = true;
                    }
                    else if (current_step_entries[j]['name'] == 'Score') {
                        step_scores.push(current_step_entries[j]['content'])
                        score_true = true;
                    } 
                }
                // if no bodyweight in current step, take from previous one
                if (body_weight_true == false) {
                    step_weights.push(step_weights[step_weights.length - 1])
                }
                // if no weight in current step, take from previous one
                if (score_true == false) {
                    step_scores.push(step_scores[step_scores.length - 1])
                }
            }
        }


        // PREPARE DATA FOR PLOT: end //
        var procedure_first_steps = []
        for (let p = 0; p < num_procedures; ++p) {
            var current_procedure = json_data[p]
            steps = current_procedure['steps']
            let num_steps = steps.length
            var current_step = steps[0];

            // console.log(current_step['name'] + " (procedure_" + (p+1).toString() + ")")

            procedure_first_steps.push(current_step['name'] + " (procedure_" + (p+1).toString() + ")");
            // procedure_first_steps.push(current_step['name']);
        }

        // chose options are filled with lines (below)
        const options = {
                          plugins: {
                            autocolors: false,
                            annotation: {
                              annotations: {
                              }
                            }
                          },
                          scales: {
                            x: {
                                title: {
                                    display: true,
                                    text: "Procedures steps"
                                }
                            },
                            y: {
                                beginAtZero: true,
                                title: {
                                    display: true,
                                    text: "Bodyweight (grams)"
                                }
                            },
                            xAxisScore: {
                                suggestedMax: 10,
                                beginAtZero: true,
                                position: 'right',
                                title: {
                                    display: true,
                                    text: "Score"
                                }
                            }
                          }
                        };
       
        

        // prepare line for notating new procedure start
        for (let p = 0; p < num_procedures; ++p) {
            let new_line = {
                            type: 'line',
                            xMin: procedure_first_steps[p],
                            xMax: procedure_first_steps[p],
                            borderColor: 'rgb(255, 99, 132)',
                            borderWidth: 2,
                        }
            let line_name = 'line' + p.toString();
            options.plugins.annotation.annotations[line_name] = new_line;
        }


        var data =  {
                    labels: step_names,
                    datasets: [{    
                        data: step_weights,
                        label: "Bodyweight (grams)",
                        borderColor: "#8e5ea2",
                        fill: true
                    },
                    { 
                        data: step_scores,
                        label: "Score",
                        borderColor: "#3e95cd",
                        fill: true,
                        yAxisID: "xAxisScore"
                    }
                    ]
                }

        // var data =  {
        //             labels: step_names,
        //             datasets: [{ 
        //                 data: step_scores,
        //                 label: "Score",
        //                 borderColor: "#3e95cd",
        //                 fill: true,
        //                 yAxisID: "score_line_id"
        //             }, {    
        //                 data: step_weights,
        //                 label: "Bodyweight (grams)",
        //                 borderColor: "#8e5ea2",
        //                 fill: true
        //             }
        //             ]
        //         }


        new Chart(document.getElementById("line-chart"), {
            type: 'line',
            data: data,
            options
        });
    </script>
    
{% endblock %}
<!-- 
options: {

    plugins: {
      autocolors: false,
      annotation: {
        annotations: {
          line1: {
            type: 'line',
            yMin: 11,
            yMax: 12,
            borderColor: 'rgb(255, 99, 132)',
            borderWidth: 3,
          }
        }
      }
    },
    

    // title: {
    //     display: true,
    //     text: 'Score vs. Weight'
    // },

    // scales: {
    //     y: {
    //         title: "SOME_TITLE",
    //         type: 'linear',
    //         display: true,
    //         position: 'left',
    //         },
    //     y1: {
    //         type: 'linear',
    //         display: true,
    //         position: 'right',
        
    //         // grid line settings
    //         grid: {
    //             drawOnChartArea: false, // only want the grid lines for one axis to show up
    //         },
    //     },
    // },
    
} -->
