{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Add new coordinates to the database{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div>
    <label for="name">Name</label>
    <input name="name" id="name" required>
    </div>
    
    <div>
    <label for="region_name_abbreviated">Region name abbreviated</label>
    <input name="region_name_abbreviated" id="region_name_abbreviated" required>
    </div>
    
    <div>
    <label for="AP">AP</label>
    <input name="AP" id="AP" required>
    </div>

    <div>
    <label for="ML">ML</label>
    <input name="ML" id="ML" required>
    </div>
    
    <div>
    <label for="DV">DV</label>
    <input name="DV" id="DV" required>
    </div>
    
    <div>
    <label for="researcher">Researcher</label>
    <input name="researcher" id="researcher" >
    </div>

    <input type="submit" value="Save">
  </form>

{% endblock %}