{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}  {{ page_name }} for Mouse {{ mouse.irats_id }} {% endblock %}</h1>
  {% if last_action %}
  <p type="time">{{ last_action }} happened {{moment(time).fromTime(now)}}</p>
  {% endif %}
  {% if weight_target %}
  <p type="text">90% Weight Target is {{ weight_target }} grams</p>
  {% endif %}
  {% if last_weight %}
  <p type="text">Last weight was {{ last_weight[0] }} grams = {{ last_weight[1] }} weight</p>
  {% endif %}
{% endblock %}


{% block content %}
  <form method="post" id="entries" class="forms">
    <div id="left">
      {% for form in forms %}
        {% if form['type'] == "bool" %}
        <div> 
        <label for="{{form['id']}}">{{form['name']}}:</label> 
        </div>
        <div class="radio">
          <div class="radio">
          <label for="yes">Yes</label>   
          <input type="radio" id="yes" name="{{form['id']}}" value="True" checked>
          </div>
          <div class="radio">
          <label for="no">No</label>   
          <input type="radio" id="no" name="{{form['id']}}" value="False">
          </div> 
        </div>
      {% else %}
        <div>
          <label for="{{form['id']}}">{{form['name']}}</label>
          <input type="{{form['type']}}" name="{{form['id']}}" id="{{form['id']}}" value="" required>
        </div>
      {% endif %}
      {% endfor %}
      <div>
        <label for="comment">Comment</label>
        <textarea name="comment" id="comment" value=""></textarea>
      </div>
    <input type="submit" value="Save" >
    </div>
  </form>
  <div>
    <img src="{{ '/static/Score_table.PNG' }}" alt="Score Table" />
    </div>
    <div>
    <form action="{{ url_for('experiments.euthanasia', id=mouse['id']) }}" >
      <input class="red" type="submit" value="Euthanize">
    </form>  
    </div>
{% endblock %}


<!-- <script>
  function back() {
     $("<input />").attr("type", "hidden")
           .attr("name", "direction")
           .attr("value", "back")
           .appendTo("#entries");
   };
 </script>
 <script>
   function next() {
      $("<input />").attr("type", "hidden")
            .attr("name", "direction")
            .attr("value", "next")
            .appendTo("#entries");
    };
  </script> -->